.message {
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    pointer-events: none;
    font-size: 18px;
    text-align: center;
    transform: translate(-50%, -50%);

    &.success {
        opacity: 1;
        color: green;
        pointer-events: auto;
        z-index: 1;
    }
}