.viewer {
    background-color: $color-white;
    width: 90%;
    height: auto;
    @include centered();
    opacity: 0;
    transition: opacity .25s ease;

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    &.loaded {
        opacity: 1;
    }
}