.red-button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 1;
    background-color: red;
    transition: opacity .25s ease;
    @include centered();

    &.hidden {
        opacity: 0;
    }
}